---
layout: default
title: Seafood on Parade
now-hiring: true
banner_image: /images/seafood_on_parade.jpg
banner-mobile_image: /images/seafood_on_parade_mobile.jpg
open-times:
   -
      days: Mon - Wed
      times: 8am - 5.30pm
   -
      days: Thurs
      times: 8am - 9pm
   -
      days: Fri
      times: 8am - 5.30pm
   -
      days: Sat
      times: 8am - 5.00pm
   -
      days: Sun
      times: 11am - 5.00pm
seo:
   title: Seafood on Parade
   description:
   social-image-alt:
   twitter_card:
   twitter_description:
   keywords:
   hide-from-google: false
---

<!----Top header---->
        <header class="bg-image tall-95 home-banner-image">
            <div class="capped-width grid-center">
                <div class="col-12 tall-10 text-menu hide-sm">
                    <nav class="right padded-1 padded-r "> 
                        <a href="#about"> About </a>
                        <a href="#hours"> Hours </a>
                        {% if page.now-hiring == true %}
                            <a href="#hiring">Hiring</a>
                        {% endif %}
                        <a href="#map">Contact</a>
                    </nav>  
                </div>                   
                <div class="col-12 right show-sm">
                    <a class="hamburger-button"> &#8801; </a>
                </div>

                <div class="col-5_sm-12 right sm-center">
                    <h1 class="seafood">Seafood <span class="text-orange">on parade</span></h1>   
                </div>
                <div class="col-6_sm-0 hide-sm"></div>
            </div>
        </header>

        <style> 
            .home-banner-image {background-image: url('{{page.banner_image}}');}         
            @media(max-width:36em) {
               .home-banner-image {background-image: url('{{page.banner-mobile_image}}');}
            }
         </style> 
            
        <nav class="mobile-menu bg-dark padded"> 
            <p class="seafood">Seafood <span class="text-orange">on parade</span></p>   
            <a href="#about"> About </a>
            <a href="#hours"> Hours </a>
            {% if page.now-hiring == true %}
                <a href="#hiring">Hiring</a>
            {% endif %}
            <a href="#map">Contact</a>
        </nav>


        <!----About Us---->
        <section class=" padded " id="about">
            <div class="capped-width grid-center">
                <div class="col-6_lg-5_md-12-middle about padded padded-r-0 padded-r-md">
                    <h2 class="center">About Us</h2>
                    <p class="editable">
                        A local company operating in the Norwood area for many years, Peter and Koula have a loyal customer base thanks to their friendly service and the freshness of the seafood.
                    </p>
                    <p class="editable">
                        Now trading as Seafood on Parade, their commitment to providing an excellent range of fresh seafood is as strong as ever. Whether it&rsquo;s fish, oysters, prawns or lobster, you can be assured of the quality.
                    </p>
                    <p class="editable">
                        Large orders, special requests and phone orders are most welcome.
                    </p>
                </div>
                <div class="col-6_lg-7_md-12 padded padded-r-0 padded-r-md padded-t-0-md padded-0-xs padded-b-xs ">
                    <div class="bg-image bg-family arch tall-50"></div>
                </div>                
            </div>

        </section>

        <!---icon grid---->
        <section class=" bg-dark center light-text icon" id="why-us">
            <div class="capped-width">
            <div class="grid-center tall-50 icon-grid">    
                <div class="col-4_sm-12 padded-2">
                    <img src="/images/fresh-produce.png" alt="fresh produce" />
                    <h3 class="editable">
                        Fresh Produce
                    </h3> 
                   <p class="editable">
                       Our seafood is market fresh and delivered daily to our store, prepared by our own team for maximum freshness. We always seek fresh over frozen, and proudly stock South Australian wherever possible. Enjoy the finest the state has to offer on your plate.
                   </p>     
                </div>
                <div class="col-4_sm-12 bg-blue padded-2">
                    <img src="/images/sustainable-fish.png" class="hidden-small" alt="sustainable fish" />
                    <img src="/images/blue-sustainable-fish.png" class="hidden" alt="sustainable fish" />
                    <h3 class="editable">
                        Largest Range
                    </h3>
                    <p class="editable">
                        With a huge range of fresh seafood including fish fillets, raw and cooked prawns, fresh oysters, crabs and more, we guarantee to have something for you. Looking for something a little different? Special requests are most welcome and we will always do our best to accommodate you.
                    </p>
                </div>
                <div class="col-4_sm-12 padded-2">
                    <img src="/images/family.png" alt="family business" />
                    <h3 class="editable">
                        Family Owned
                    </h3>
                    <p class="editable">
                        Peter and Koula are brother and sister who took inspiration from their late father George, a fisherman back in homeland Greece, to provide the public with the freshest seafood. Proudly serving the community for over 20 years, providing exceptional service and seafood.
                    </p>
                </div></div>
            </div>
        </section>

        <!---Hours---->
        <section class="grid bg-light" id="hours">
            <div class="bg-image bg-hours col-7_xs-12 tall-70"></div>
            <div class="col-5_xs-12-middle grid">
                <div class="col-9_lg-11_sm-12 bg-dark padded hours light-text center">
                    <p><i class="fas fa-fish"></i></p>
                    <h3 class="text-hours">Opening Hours</h3>
                    {% for item in page.open-times %}
                    <p class="days editable">
                        Sun
                    </p>
                    <p class="times editable">
                        11am - 5.00pm
                    </p>  
                    {% endfor %}
                </div>    
            </div>
        </section>

        <!----Now Hiring-->
        {% if page.now-hiring == true %}
        {% include now-hiring.html %}
        {% endif %}

        <!---Map---->
        <section class="grid tall-60" id="map">
            <div class="col-12 bg-image bg-map"></div>
        </section>

        <!---footer---->
        {% include footer.html %}
