<!-- Styles  -->
<style> 

    :root {
        --orange-text:{{ site.data.site-settings.design.orange-text_color }};
        --lorange-text:{{ site.data.site-settings.design.lorange-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --orange: {{ site.data.site-settings.design.orange }};
        --grey: {{ site.data.site-settings.design.grey_color }};
        --blue: {{ site.data.site-settings.design.blue_color }};
        --darker: {{ site.data.site-settings.design.light_color }};
    }


</style> 