<section class="grid-center padded capped-width" id="hiring">
    <div class="col-12 bg-dark bg-image bg-hire tall-60"></div>
    <div class="grid col-12 bg-dark light-text text-hire">
        <div class="col-12 padded padded-b-0 center">
            <p class="now">now</p> 
            <h1>Hiring</h1>
            <h2>Want to be part of the team?</h2> 
        </div>
        <div class="col-12-middle center padded padded-b-0">
            <p>We are currently looking for new faces to join our team on casual and part-time basis to fill over the counter service roles and assist with back of house duties. </p>
            <p>We are looking for reliable, enthusiastic and motivated people who are willing to learn new skills and are flexible with working hours. Previous experience in customer service and/or preparation of fresh food desirable but not essential, as training is provided. </p>
            <p>We offer a very competitive wage and a fun, friendly, and energetic working environment. Give us a call and ask for Peter or Koula, or come by and drop your resumè off in store. We would love to hear from you!</p>
        </div>
        <div class="hire-contact padded col-12 center">
            <div class="grid ">
                <div class="col-6_xs-12 padded-b-xs ">
                    <h4><i class="fas fa-envelope"></i> Email us @</h4>
                    <p><em>Your resume and cv</em></p>
                    <a href="Mailto:seafoodonparade@gmail.com">seafoodonparade@gmail.com</a>
                </div>
                <div class="col-6_xs-12 padded-b-xs ">
                    <h4><i class="far fa-map"></i> Or Visit us</h4>
                    <p><em>Our personal favourite</em></p>
                    <a href="https://www.google.com/maps/place/Seafood+On+Parade/@-34.9210328,138.6143018,15z/data=!4m5!3m4!1s0x0:0x9603e5a84f46313a!8m2!3d-34.9204055!4d138.6354315"  target="_blank">The Parade, Norwood, <span>South Australia 5067</span></a>
                </div>    
            </div>
        </div>
    </div>
</section> 